.blog {
  width: 100%;
  min-height: 704px;
  background-color: rgba(248,248,248,1);
  padding-top: 98px;
  h2 {
    font-family: $montserrat;
    font-size: 28px;
    letter-spacing:1.4px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }
}
.blog--items {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 0;
}
.blog--item {
  width: 370px;
  height: 458px;
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
  margin: 15px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.blog--item-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 214px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    max-width: 310px;
    width: 100%;
    text-align: left;
    font-family: $montserrat;
    font-size: 24px;
    color: rgba(74,71,71,1);
    font-weight: 500;
    margin-top: 26px;
  }
  p {
    max-width: 310px;
    width: 100%;
    text-align: left;
    font-family: $montserrat;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
  }
}
.blog--item-supportWrapper {
  width: 310px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog--item-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  img {
    position: relative;
    margin-right: 5px;
  }
  p {
    margin-top: 0;
  }
}
.blog--item-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  img {
    position: relative;
    margin-right: 5px;
  }
  p {
    margin-top: 0;
  }
}
.blog--item {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
  box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
  transition: 0.5s;
}
.blog--item:hover {
  -webkit-box-shadow: 4px 4px 3px 0px rgba(82,82,82,1);
  -moz-box-shadow: 4px 4px 3px 0px rgba(82,82,82,1);
  box-shadow: 4px 4px 3px 0px rgba(82,82,82,1);
  transition: 1s;
  transform: translateX(-2px) translateY(-2px);
}
