//Fonts
$muli: 'Muli', sans-serif;
$ovo: 'Ovo', 'serif';

//colors

$color-body_bg: rgba(232,232,232,1);
$color-menu_bg: rgba(242,242,242,1);
$color-body_red: rgba(199,20,29,1);
$color-content_green: rgba(218,239,179,1);
$color-content_orange: rgba(242,192,20,1);
$color-content_orange-light: rgba(252,236,201,1);
$color-logo_bg: rgba(129,193,75,1);
$color-text_black: rgba(23,23,23,1)

